@use "../foundation/_mixin/mediaquery" as *;
@use "../foundation/_mixin/font" as *;
@use "../foundation/variable" as *;

.l-section {
  max-width: var(--content-width);
  width: 95%;
  margin: 0 auto;

  // p {
  //   @include fs(16);
  //   line-height: 1.8;

  //   a {
  //     font-size: inherit;
  //     text-decoration: underline;

  //     &:hover {
  //       text-decoration: none;
  //     }
  //   }
  // }

  +.l-section {
    margin-top: 100px;
  }
}